{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/settings/settings.css") }}">
{% endblock %}

{% block content %}
    <div class="settings_wrapper">
        <div class="content">
            <div class="nav_content">
                <nav>
                    <div class="left_nav">
                        <a href="/settings">Main</a>
                        <a href="/settings/email">Email</a>
                        <a href="/settings/password">Password</a>
                        <a href="/settings/key">Key</a>
                    </div>
                </nav>
            </div>
            {% block settings %}
            {% endblock %}
            <p>
                <div class="flashed">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <!-- <br> -->
                            <hr>
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}   
                 </div>
            </p>
        </div>
    </div>

{% endblock %}