{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href=" {{ url_for("static", filename="css/settings.css") }} ">
{% endblock %}

{% block content %}
    <div class="content_wrapper">
        <div class="content">
            <div class="nav_content">
                <nav>
                    <div class="left_nav">
                            <a href="/settings/change_email">Change email</a>
                            <a href="/settings/change_password">Change password</a>
                    </div>
                </nav>
            </div>
            
            <div class="settings">
                <form action="" method="POST">
                    {{ form.hidden_tag() }}
                    <p>
                        <br>
                        <h3>Change password:</h3> 
                    </p>
                    <p>
                        <br>
                        {{ form.password.label }}
                    </p>
                    <p>
                        {{ form.password() }}
                        <br>
                        {% for error in form.password.errors %}
                            <span style="color: red"> {{ error }} </span>
                        {% endfor %}
                    </p>

                    <p>
                        {{ form.password2.label }}
                    </p>
                    
                    <p>
                        {{ form.password2() }} {{ form.submit(value="reset") }}
                        <br>
                        {% for error in form.password2.errors %}
                            <span style="color: red"> {{ error }} </span>
                        {% endfor %}
                    </p>
                        
                    <p>
                        <div class="flashed">
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    {% for message in messages %}
                                        {{ message }}
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}   
                         </div>
                    </p>
                </form>    
            </div>

        </div>
    </div>
    
{% endblock %}