{% extends "settings/base.html" %}

{% block settings %}
    <div class="settings">
        Current email: {{ current_user.email }} <br>
        {% if not current_user.is_validated %}
            <div class="validate_email">
                Your email <strong>is not confirmed</strong>. Fix it. Otherwise, you will not be able to change your password.
                <form action="" method="POST">
                    {{ form.hidden_tag() }}
                    <p>
                        <div class="submit">
                            {{ form.submit(value="send code") }}    
                        </div>                        
                    </p>
                    <p>
                        <div class="code">
                            {{ form.code.label }} <br>
                            {{ form.code() }} 
                            <div class="submit">
                                {{ form.submit(value="validate" )}}    
                            </div>
                            <br>
                            {% for error in form.code.errors %}
                                <span style="color: red"> {{ error }} </span>
                            {% endfor %}
                        </div>                    
                    </p>                
                </form>            
            </div>
            
        {% else %}
            Your email <strong>is confirmed</strong>
        {% endif %}

        <div class="change_email">
            <form method="POST">
                <h3>Change email</h3>
                {{ form.hidden_tag() }}
                {{ form.email.label }} <br>
                {{ form.email() }} 
                <div class="submit">
                    {{ form.submit(value="change")}} 
                </div>
                <br>
                {% for error in form.email.errors %}
                    <span style="color: red"> {{ error }} </span>
                {% endfor %}
            </form>
        </div>

        <div class="flashed">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% endif %}
            {% endwith %}   
         </div>

    </div>

{% endblock %}