{% extends "settings/base.html" %}

{% block settings %}
    <div class="settings">
        <div class="change_key">
            <p>
                <h3>Change secret key</h3>
            </p>
            <form method="POST">
                {{ form.hidden_tag() }}
                <p>
                    <br>
                    {{ form.key.label }}
                </p>
                <p>
                    {{ form.key() }}
                </p>
                <p>
                    {{ form.submit(value="change") }}
                </p>
                
            </form>            
        </div>
        <div class="flashed">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% endif %}
            {% endwith %}   
        </div>
    </div>
{% endblock %}