{% extends "settings/base.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href=" {{ url_for("static", filename="css/settings/settings.css") }} ">
{% endblock %}

{% block settings %}
            
    <div class="settings">
        <div class="change_password">
            <form action="" method="POST">
                {{ form.hidden_tag() }}
                <p>
                    <h3>Change password:</h3> 
                </p>
                <p>
                    <br>
                    {{ form.password.label }}
                </p>
                <p>
                    {{ form.password() }}
                    <br>
                    {% for error in form.password.errors %}
                        <span style="color: red"> {{ error }} </span>
                    {% endfor %}
                </p>

                <p>
                    {{ form.password2.label }}
                </p>
                
                <p>
                    {{ form.password2() }}
                    <br>
                    {% for error in form.password2.errors %}
                        <span style="color: red"> {{ error }} </span>
                    {% endfor %}
                </p>

                <p>
                    <div class="reset">
                        {{ form.submit(value="reset") }}
                    </div>
                </p>
            </form>
        </div>
    </div>
    
{% endblock %}