{% extends "settings/base.html" %}

{% block settings %}
    <div class="settings">
        Your status: 
        {% if current_user.is_validated %}
            <strong>validated</strong>
        {% else %}
            <strong>not validated</strong>. <a href="/settings/email">Confirm it</a>
        {% endif %}
        <div class="clear_all">
            <form method="POST">
                {{ form.hidden_tag() }}
                {{ form.submit(value="clear all accounts") }}
            </form>
        </div>
        <div class="flashed">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% endif %}
            {% endwith %}   
        </div>
    </div>
        
{% endblock %}