.wrapper_content {
    width: 50%;
    margin-top: 10px;
    
}

.reg_wrapper {
    width: 40%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background: #eeeeee;
    border: solid 1px white;
    outline: solid 1px #555652;
}

input[type="text"], input[type="password"] {
    width: 98%;
}

.label:not(:first-of-type) {
    padding-top: 20px;
}

.label {
    padding-bottom: 5px;
}

input[type="submit"] {
    width: 100%;
}

.button {
    padding-top: 10px;
}
