* {
    padding: 0;
    margin: 0;
}

input {
    border: 1px solid #cccccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    height: 30px;
}

body {
    margin-bottom: 10px;
}

header {
    background: #282923;
    height: 40px;
    min-width: 650px;
}

.head_wrapper {
    width: 60%;
    min-width: 650px;   
    margin-left: auto;
    margin-right: auto;
}

header a, a:visited {
    text-decoration: none;
    color: white 
}

header a:hover {
    color: #BDBFC0;
}

header nav {
    width: 100%;
    padding-top: 10px;
    display: inline-block;
}

header a {
    font-weight: bold;
    padding: 20px;
}

header .left_nav {
    float: left;
    margin-right: auto;
}

header .right_nav {
    float: right;
    margin-right: 10px;
    height: 30px;
    text-align: right;
}

.topmenu {
    color: #BDBFC0;
    list-style: none;
}

.submenu {
    display: none;
}

.topmenu li:hover .submenu {
    display: block;
    list-style: none;
    background: #eeeeee;
    border: solid 1px gray;
    text-align: left;
}

.submenu a {
    color: black;
    padding: 5px;
}

.wrapper_content {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.flashed {
    word-wrap: break-word;
    width: 100%; 
    color: gray;
}
