.index_wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /*text-align: center;*/
}

.content {
    margin-top: 10px;
    background: #eeeeee;
    border: solid 1px white;
    outline: solid 1px #555652;
}

.nav_content {
    border-bottom: solid 1px #555652;
    min-height: 40px;
}


.nav_content a {
    color: black;
}

.nav_content {
    line-height: 40px;
}

.nav_content a:visited {
    color: black;
}

.nav_content a:hover {
    color: #555652;
}

.nav_content .left_nav {
    float: left;
    padding-left: 10px;
}

.nav_content .right_nav {
    /*width: 70%;*/
    float: right;
    padding-right: 10px;
}

.block_data {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    /*padding-top: 10px;*/
    /*text-align: left;*/
    background: white;
    border: solid 1px #d2d2d2; 
    line-height: 52px;
}

.block_data .text {
    padding-left: 5px;
}

.settings {
    text-align: left;
}

.wrapper_form {
    padding: 10px;
}

.block_data input[type="password"] {
    line-height: 52px;
}
