.settings_wrapper {
    padding-top: 10px;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.content {
    background: #eeeeee;
    border: solid 1px white;
    outline: solid 1px #555652;
}

.settings {
    /*width: 90%;*/
    padding: 10px;
    /*width: 95%;*/
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.settings a {
    color: black;
}

.settings input[type="text"], .settings input[type="text"], .settings input[type="password"], .change_key input[type="password"] {
    width: 98%;
}

.submit {
    padding-top: 5px;
}

.flashed {
    text-align: center;
}
