.nav_content .left_nav {
    padding-left: 0;
    width: 100%;
    text-align: center;
}

.index_wrapper {
    width: 35%;
    min-width: 250px;
}

.wrapper_form {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.wrapper_form input[type="text"], .wrapper_form input[type="password"] {
    width: 100%;
}