.index_wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.content {
    margin-top: 10px;
    background: #eeeeee;
    border: solid 1px white;
    outline: solid 1px #555652;
}

.nav_content {
    border-bottom: solid 1px #555652;
    height: 40px;
}


.nav_content a, .block_data a {
    color: black;
    font-size: 1em;
}

.nav_content a {
    font-size: 1.5em;
    text-decoration: none;
}

.nav_content a:not(:first-child) {
    padding-left: 10px;
}

.nav_content {
    line-height: 40px;
}

.nav_content a:visited {
    color: black;
}

.nav_content a:hover {
    color: #555652;
}

.nav_content .left_nav {
    float: left;
    padding-left: 10px;
    line-height: 50px;
}

.nav_content .right_nav {
    width: 50%;
    text-align: right;
    margin-left: auto;
    padding-right: 10px;
}

.block_data {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border: solid 1px #d2d2d2; 
    line-height: 52px;
}

.block_data .text {
    padding-left: 5px;
}

.settings {
    text-align: left;
}

.wrapper_form {
    padding: 10px;
}

.wrapper_form input[type="text"], .wrapper_form input[type="password"] {
    width: 40%;
}

.block_data input[type="password"] {
    line-height: 52px;
}

.list_box {
    padding-top: 5px;
    padding-bottom: 5px;
}

.block_data {
    margin-bottom: 10px;
}

.type {
    font-size: 1.5em;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    border-bottom: solid 1px gray;
}

.text:not(:last-child) {
    border-bottom: solid 1px lightgray;
}

.submit {
    padding-top: 5px;
}

.flashed {
    text-align: center;
}
