{% extends "index/base.html" %}

{% block index_content %}
    
    <div class="wrapper_form">
        <form action="" method="POST" novalidate="">
            {{ form.hidden_tag() }}
            <p>
                {{ form.login.label }} <br>
                {{ form.login(size=20) }}
            </p>

            <p>
                {{ form.key.label }} <br>
                {{ form.key(size=20) }}
            </p>

            <p>
                {{ form.password.label }} <br>
                {{ form.password(size=20) }}
            </p>
            {{ form.submit() }}
        </form> 

        <p>
            <div class="flashed">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    {% endif %}
                {% endwith %}   
             </div>            
        </p>
               
    </div>

{% endblock %}
