{% extends "index/base.html" %}
{% block index_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/index/add.css") }}">
{% endblock %}
{% block index_content %}
    
    <div class="wrapper_form">
        <form action="" method="POST" novalidate="">
            {{ form.hidden_tag() }}
            <p>
                {{ form.login.label }} <br>
                {{ form.login(size=25) }}
            </p>

            <p>
                {{ form.key.label }} <br>
                {{ form.key(size=25) }}
            </p>

            <p>
                {{ form.password.label }} <br>
                {{ form.password(size=25) }}
            </p>

            <p>
                <div class="list_box">
                    <select name="account_type">
                        <option>Email</option>
                        <option>Social</option>
                        <option>Work</option>
                        <option>Games</option>
                        <option>Other</option>
                    </select>    
                </div>
            </p>

            <div class="submit">
                {{ form.submit() }}
            </div>
        </form> 
    </div>

{% endblock %}
