{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" type="text/css" href=" {{ url_for("static", filename="css/index.css") }} ">
    {% block index_css %}
    {% endblock %}
{% endblock %}
{% block content %}
    <div class="index_wrapper">
        <div class="content">
            <div class="nav_content">
                <nav>
                    <div class="left_nav">
                            <a href="/">All</a>
                            <a href="/index/generate">Generate</a>
                            <a href="/index/add">Add</a>
                    </div>              

                    
                    <div class="right_nav">
                        <form action="" method="POST">
                            {% block right_nav %}
                            {% endblock %}
                        </form>
                    </div>
                    
                        
                </nav>
            </div>
            <form action="" method="POST">
                {% block index_content %}
                {% endblock %}
            </form> 
            <p>
                <div class="flashed">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <!-- <br> -->
                            <hr>
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}   
                 </div>
            </p>
        </div>
    </div>

{% endblock %}