{% extends "base.html" %}
{% block title %}          
    home
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href=" {{ url_for("static", filename="css/index.css") }} ">
{% endblock %}
{% block content %}
    <div class="content_wrapper">
        <div class="content">
            <form action="" method="POST">
                <div class="nav_content">
                    <nav>
                        <div class="left_nav">
                                {{ form.hidden_tag() }}
                                <a href="/generate">Generate</a>
                                <a href="/add">Add</a>
                        </div>

                        <div class="right_nav">
                            {{ form.submit(value="show/hide all") }} {{ form.key(size=10, placeholder="input your key")}}
                            <!-- блок создания приветствия -->
                                <!-- hello, -->
                            {% if current_user.username %}
                                {{ current_user.username }}
                            {% else %}
                                anonymous
                            {% endif %}
                        </div>
                    </nav>
                </div>
                
                <!-- <div class="body_content"> -->
                    {% if decrypted_passwords %}
                        {% for i in range(accounts.count()) %}
                            <!-- <div class="index_content"> -->
                                <div class="block_data">
                                    <p>
                                        {{ accounts.all()[i].login }}:{{ decrypted_passwords[i] }} {{ form.submit(value=accounts.all()[i].id) }}
                                    </p>
                                </div>
                                
                            <!-- </div> -->
                            
                        {% endfor %}
                    {% else %}
                        {% for account in accounts.all() %}
                            
                                {{ form.hidden_tag() }}
                                <p>
                                    <div class="index_content">
                                        <div class="block_data">
                                            <span class=text>{{ account.login }}:******** {{ form.submit(value=account.id) }}</span>
                                        </div>     
                                    </div>    
                                </p>
                            
                        {% endfor %}
                            
                    {% endif %}
                <!-- </div> -->
            </form>       

            <div class="flashed">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    {% endif %}
                {% endwith %}   
             </div>
        </div>
            
        
    </div>
        
{% endblock %}