{% extends "base.html" %}
{% block css %}

{% endblock %}

{% block content %}
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <p>
            1. Input your email and check code on it; <br>
            2. Input your username and code and click submit. <br>
        </p>
        <p>
            <br>
            {{ form.email.label}} <br>
            {{ form.email() }} {{ form.submit(value="send code") }}
        </p>
        <br>
        <hr>
        <p>
            <br>
            {{ form.username.label }} <br>
            {{ form.username() }} <br>
            {{ form.code.label }} <br>
            {{ form.code() }} <br>
            <br>
            {{ form.submit(value="submit") }}
        </p>
        <p>
            <div class="flashed">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    {% endif %}
                {% endwith %}   
             </div>            
        </p>

    </form>
{% endblock %}