{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" type="text/css" href=" {{ url_for("static", filename="css/reset_password.css") }} ">
{% endblock %}

{% block content %}
    <div class="settings_wrapper">
        <div class="content">
            <div class="settings">               
            
                <form action="" method="POST">
                    {{ form.hidden_tag() }}
                    <p>
                        1. Input your email and check code on it. <br>
                    </p>
                    <p>
                        <br>
                        {{ form.email.label}} <br>
                        {{ form.email() }} 
                        <div class="submit">
                            {{ form.submit(value="send code") }}
                        </div>
                    </p>
                    <br>
                    
                    <p>
                        <hr>
                        <br>
                        <p>
                            2. Input your username, code and click submit.
                        </p>
                        <br>
                        {{ form.username.label }} <br>
                        {{ form.username() }} <br>
                        {{ form.code.label }} <br>
                        {{ form.code() }} <br>
                        <div class="submit">
                            {{ form.submit(value="submit") }}    
                        </div>
                    </p>
                    <p>
                        <div class="flashed">
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    <br>
                                    <hr>
                                    {% for message in messages %}
                                        {{ message }}
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}   
                         </div>            
                    </p>
                </form>
            </div>        
        </div>
    </div>
{% endblock %}