<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}        
        {% endblock %}
    </title>    
    <link rel="stylesheet" href="{{ url_for("static", filename="css/base.css") }}">
    {% block css %}
    {% endblock %}
</head>
<body>
    <header>
        <div class="head_wrapper">
            <nav>
                <div class="left_nav">
                    <a href="{{ url_for("index") }}">Home</a>
                </div>
                <div class="right_nav">
                    {% if not current_user.is_anonymous %}
                        <ul class="topmenu">
                            <li>
                                <a href="">{{ current_user.username }}</a>
                                <ul class="submenu">
                                    <li><a href="/settings">Settings</a></li>
                                    <li><a href="{{ url_for("logout") }}">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    
                    {% else %}
                        <a href="{{ url_for("login") }}">Sign in</a>
                        <a href="{{ url_for("reg") }}">Sign up</a>
                    {% endif %}
                
                </div>
            </nav>
        </div>           
    </header>
    <div class="wrapper_content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>