{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href=" {{ url_for("static", filename="css/authorize/reg.css") }} ">
{% endblock %}

{% block content %}
    <div class="reg_wrapper">
        <div class="content">
            <form action="" novalidate="" method="POST">
                {{ form.hidden_tag() }}
                <p>
                    <div class="label">
                        {{ form.username.label }}
                    </div>
                    {{ form.username() }}
                    {% for error in form.username.errors %}
                        <span style="color: red;"> {{ error }} </span>
                    {% endfor %}
                </p>
                <p>
                    <div class="label">
                        {{ form.email.label }}
                    </div>
                    {{ form.email() }}

                    {% for error in form.email.errors %}
                        <span style="color: red;"> {{ error }} </span>
                    {% endfor %}

                </p>
                <p>
                    <div class="label">
                        {{ form.key.label }}
                    </div>
                    {{ form.key() }}
                    {% for error in form.key.errors %}
                        <span style="color: red;"> {{ error }} </span>
                    {% endfor %}
                </p>
                <p>
                    <div class="label">
                        {{ form.password.label }}
                    </div>
                    {{ form.password() }}

                    {% for error in form.password.errors %}
                        <span style="color: red;"> {{ error }} </span>
                    {% endfor %}
                </p>
                <p>
                    <div class="label">
                        {{ form.password2.label }}
                    </div>
                    {{ form.password2() }}

                    {% for error in form.password2.errors %}
                        <span style="color: red;"> {{ error }} </span>
                    {% endfor %}
                </p>
                <div class="button">
                    {{ form.submit() }} <br>
                </div>
            </form>
        </div>
    </div>
{% endblock %}