{% extends 'base.html' %}
{% block content %}
    
<form action="" novalidate="" method="POST">
    <p>
        {{ form.username.label }} <br>
        {{ form.username() }}
    </p>
    <p>
        {{ form.email.label }} <br>
        {{ form.email }}
    </p>
    <p>
        {{ form.password.label }} <br>
        {{ form.password() }}        
    </p>
    <p>
        {{ form.password2.label }} <br>
        {{ form.password2() }}
    </p>
    {{ form.submit() }} <br>
</form>
    
    
{% endblock %}