{% extends "base.html" %}
{% block content %}
<form action="" method="POST">
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }} <br>
        {{ form.username() }}
        {% for error in form.username.errors %}
            <span style="color: red;"> {{ error }} </span>
        {% endfor %}
    </p>

    <p>
        {{ form.password.label }} <br>
        {{ form.password() }}
        {% for error in form.password.errors %}
            <span style="color: red;"> {{ error }} </span>
        {% endfor %}
    </p>

    <p>
        {{ form.password2.label }} <br>
        {{ form.password2() }}
        {% for error in form.password2.errors %}
            <span style="color: red;"> {{ error }} </span>
        {% endfor %}
    </p>
    <br>
    {{ form.submit() }}
    <p>
        <div class="flashed">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% endif %}
            {% endwith %}   
         </div>
    </p>
</form>
{% endblock %}