{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href=" {{ url_for("static", filename="css/settings.css") }} ">
{% endblock %}

{% block content %}
    <div class="content">
        <div class="nav_content">
            <nav>
                <div class="left_nav">
                        <a href="/generate">Change password</a>
                        <!-- <a href="/add"></a> -->
                </div>
            </nav>
        </div>
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <p>
                <br>
                <h3>Restore my password:</h3> 
            </p>
            <p>
                {{ form.submit (value="send code on mail") }} <br>
            </p>

            <p>
                {{ form.code_field.label }}<br>    
            </p>
            
            <p>
                {{ form.code_field() }} {{ form.submit(value="reset") }}    
            </p>
                
            <p>
                <div class="flashed">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}   
                 </div>
            </p>
        </form>    
    </div>
    
{% endblock %}